<div class="jumbotron">
    <div class="container">
  <div class="col-lg-8" id="text-area">
  <h1>Patterns</h1>
  <p>Where people see repitition, we see iteration. The spikes and dips have their own kinetic energy. We analyze and predict where the ball may bounce.</p>
  <p><a class="btn btn-warning btn-lg" role="button">Learn more</a></p>
  </div>
</div>
</div>

<div id="home-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9" style="height:275px;margin-bottom:90px;">
                <%#= raw @page.content_for(:graph_1) %>
                <h1><%= @graphs.last.name %></h1>
                <%= raw @graphs.last.excerpt %>
                <%= link_to 'Learn more',  refinery.graphs_graph_path(@graphs.last.id), class: 'btn btn-primary', style: "float:right;margin-right:20px;" %>
                <div><%= raw @graphs.last.code %></div>
                <div class="row">
                    <div class="col-lg-12">
                    <h2>Featured Analysis</h2>
                    <% @latest_graphs.each do |lg| %>
                    <div class="col-lg-4" >
                        <h5><%#= lg.name %></h5>
                        <%#= raw lg.excerpt %>

                    <%= raw lg.code %>
                    <%= link_to 'See graph', refinery.graphs_graph_path(lg.id), class: 'btn btn-xs btn-info', style: "display:block;margin:0 auto;" %>
                </div>

                <% end %>
            </div>
                </div>
            </div>

            <div class="col-lg-3" style="padding-top:1em;">
                <%= raw @page.content_for(:profile_image) %>
                <%= raw @page.content_for(:body) %>
            </div>
            
        </div>

    </div>
</div>

